@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #F8F8F8;
    --black: #000000;
    --gray: #b5b5b5;
    --blue: #422CC8;
    --red: #FF0000;
    --yellow: #FCFF62;
    --border: 1.5px solid var(--black);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

body {
    /* min-width: 100vw; */
    min-height: 100vh;
    background-color: var(--white);
    /* overflow-x: hidden; */
}

h1, h2, h3, h4 {
    width: fit-content;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

a, a:visited {
    text-decoration: none;
    color: var(--black);
}

#root {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 100vw; */
    min-height: 100vh;
    justify-content: space-between;
}

/* ---------- GENERAL CLASSES ---------- */
.thin {
    font-weight: 100;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.black-font {
    font-weight: 900;
}

.ital {
    font-style: italic;
}

.white {
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
}

.black {
    color: var(--black);
}

.black-bg {
    background-color: var(--black);
}

.gray {
    color: var(--gray);
}

.gray-bg {
    background-color: var(--gray);
}

.blue {
    color: var(--blue);
}

.blue-bg {
    background-color: var(--blue);
}

.red {
    color: var(--red);
}

.red-bg {
    background-color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.yellow-bg {
    background-color: var(--yellow);
}

.border {
    border: var(--border);
}

.outline {
    outline: var(--border);
}

/* ---------- NAVBAR ---------- */
.sticky-nav {
    position: sticky;
    top: 0;
}

.nav {
    /* padding: 2em 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    font-size: 3rem;
    margin-left: 2rem;
}

.nav-link {
    text-align: center;
    padding: 2rem;
    border: 0;
}

.div-flex {
    display: flex;
}

.sub-nav {
    border: var(--border);
    border-top: 0;
    display: flex;
    flex-direction: column;
}

.sub-nav-link {
    border: 0;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.bottom-border {
    border-bottom: var(--border);
}

/* ---------- FOOTER ---------- */
.footer-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 8vh;
}

.footer-in {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    height: 8vh;
}

.glass{
    margin: 1rem;
    width: 4rem;
    height: 4rem;
}

.new-post {
    padding: 1rem 2rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-profile {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    margin: 1rem;
}

/* ---------- FEED POST ---------- */
.feed-post-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
}

.feed-post-img {
    width: 100%;
    min-height: 50vh;
    object-fit: scale-down;
}

.feed-post-link-flex {
    display: flex;
    border-left: var(--border);
    border-right: var(--border);
}

.feed-post-separator {
    height: 10vh;
}

/* ---------- FEED BUTTONS ---------- */
.feed-btn-div {
    display: flex;
    width: 100%;
    border-top: var(--border);
    height: 10vh;
    position: fixed;
    bottom: 8vh;
}

.feed-btn {
    bordeR: 0;
    width: 50%;
    font-size: 3rem;
}

.fake {
    opacity: 0.2;
    font-size: 3rem;
}

.fake-border {
    background-color: var(--gray);
}

/* ---------- POST INFO ---------- */
.post-info-div {
    display: flex;
    border: var(--border);
    height: 10vh;
}

.post-info-profile {
    display: flex;
    width: 50%;
    align-items: center;
}

.post-info-img-container {
    height: 7vh;
    width: 7vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem;
}

.post-info-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-info-btn {
    display: flex;
    width: 50%;
}

.post-info-section {
    display: flex;
    align-items: center;
    height: 8vh;
    /* border-bottom: var(--border); */
}

.post-info-section>p{
    margin-left: 2rem;
}

.border-top {
    border-top: var(--border);
}

/* ---------- LIKE BUTTON ---------- */
.like-btn {
    width: 50%;
    border: 0;
}

.heart {
    background-color: var(--red);
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 20px;
}

.heart-gray {
    background-color: var(--gray);
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 20px;
}
  
.heart:before, .heart:after {
    content: "";
    background-color: var(--red);
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart-gray:before, .heart-gray:after {
    content: "";
    background-color: var(--gray);
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px; 
}
  
.heart:before, .heart-gray:before {
    top: -10px;
    left: 0;
}
  
.heart:after, .heart-gray:after {
    left: 10px;
    top: 0;
}

/* ---------- SAVE BUTTON ---------- */
.save-btn-a {
    width: 50%;
}

.save-btn {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 2rem;
}

/* ---------- TAG CAROUSEL ---------- */
.tag-carousel-div {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.tag-carousel-div::-webkit-scrollbar{
    display: none;
}

.tag-carousel-p {
    display: inline-block;
    padding: 1rem 2rem;
    border-right: var(--border);
}

.tag-carousel-p:last-child {
    border-right: 0;
}

img {
    width: 200px;
}